<!DOCTYPE html>
<html>
  <head>
    <title>NABAL: SVM-based DNA/RNA-binding site predictors using PSSMs and ESSTs</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18994764-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </head>
  <body>
    <div id="header" class="black_link">
      <h2><i><%= link_to  "NABAL: SVM-based DNA/RNA-binding site predictors using PSSMs and ESSTs", "/nabal" %></i></h2>
      <hr>
    </div>

    <%= yield %>

    <hr>
    <div id="footer" class="black_link"> 
      &copy; 2009 
      <%= link_to "The Crystallography and Biocomputing Group", "http://www-cryst.bioc.cam.ac.uk", :target => '_blank' %>,
      <%= link_to "Department of Biochemistry", "http://www.bioc.cam.ac.uk", :target => '_blank' %>,
      <%= link_to "University of Cambridge", "http://www.cam.ac.uk", :target => '_blank' %>,
      UK
    </div>

    <div id="footer_banner">
      <%= link_to image_tag("ruby_powered.png", :border => 0), "http://ruby-lang.org/", :target => '_blank' %>
      <%= link_to image_tag("rails_powered.png", :border => 0), "http://rubyonrails.org/", :target => '_blank' %>
    </div>

  </body>
</html>
